@model double[]
<script>
    var ar2 = [["", 0]];
    ar2.pop();
    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
</script>
@{ @*int d = DateTime.Now.Day;
                    for (int i = 0; i < 31; i++)
                    {
                        <script>
                            ar2.push([@d,@Model[d]]);
                            console.log(ar2)
                        </script>
                        d++;
                        if (d > 30)
                        {
                            d = 0;
                        }
                    }*@

            int i = 0;
            foreach (var p in Model)
            {
<script>
        ar2.push([months[@i],@p]);
                console.log(ar2)
</script> 
i++;
            }
    }

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

@*<div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row">
                <div class="container-fluid d-flex justify-content-center ">
                    <div class="card">
                        <div class="card-header">Sales chart</div>
                        <div class="card-body" style="height: 420px">
                            <div id="linechart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
@*<div class="card-header">Profit of Month @(DateTime.Now.Month)</div>*@
<div class="card-body" style="height: 420px;background-color:white">
    <div class="mx-1 my-1" id="linechart2"></div>
</div>

<style>
    body {
        background-color: #000
    }

    .mt-100 {
        margin-top: 100px
    }
</style>
<script>
    $(document).ready(function () {
        google.charts.load('current', { 'packages': ['line'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data2 = new google.visualization.DataTable();
            data2.addColumn('string', 'Months');
            data2.addColumn('number', 'profit');
            console.log(ar2)
            data2.addRows(ar2);
            var options2 = {
                chart: {
                    title: 'Profit of year @(DateTime.Now.Year)',
                    subtitle: 'profit in (EGP)'                    
                 
                },
                width: 500,
                height: 390
            };
            var chart2 = new google.charts.Line(document.getElementById('linechart2'));
            chart2.draw(data2, google.charts.Line.convertOptions(options2));
        }
    });
</script>