@model IEnumerable<Cart>

<div class="container">
    <!--Section: Block Content-->
    <section>

        <!--Grid row-->
        <div class="row" id="newCart">
            <partial name="CartList">
        </div>
        <!--Grid row-->

    </section>
    <!--Section: Block Content-->
</div>