@using OnlineStore_Identity.Models
@model IEnumerable<WishList>

<div class="container justify-content-center">
    <!--Section: Block Content-->
    <section class=" justify-content-center">

        <!-- Grid row -->
        <div class="row" id="wishlist">
            <partial name="Wishlist">
        </div>
        <!-- Grid row -->

    </section>
    <!--Section: Block Content-->
</div>

